.cardContainer {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  // top: 10%;

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;

    .body {
      display: flex;
      height: 100%;
      gap: 50px;
      justify-content: space-between;

      .description {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-size: 16px;
          &::first-letter {
            font-size: 28px;
            font-family: 'Title';
          }
        }
      }

      .imageContainer {
        width: 55%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .inner {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            object-fit: cover;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    height: auto;
    .card {
      height: auto;

      .body {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .imageContainer {
          width: 100%;
          height: 30vh;

          .inner {
            width: 100%;
            height: auto;

            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .description {
          width: 100%;
          text-align: center;

          p {
            font-size: 14px;

            &::first-letter {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
