.App {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #fff;
  }
  
  .title {
    margin-bottom: 50px;
  }
  
  .image_wrapper {
    margin: 0px 30px;
    padding:"10px";
  }
  
  .image_wrapper img {
    width: 80%;
  }